@font-face {
  font-family: 'EB Garamond';
  src: url('/fonts/EBGaramond-SemiBold.ttf') format('truetype');
	font-weight: 700;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('/fonts/EBGaramond-Medium.ttf') format('truetype');
	font-weight: 500;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

:root {
	--mobile-main-padding: 2rem;
	--slide-distance: 50px;
}

:root.light {
	--background-colour: #fff;
	
	--card-colour: #fff;
	--card-border: #000;

	--text-colour: #000;
	--link-colour: #222;
	--link-hover-opacity: 0.75;
}

:root.dark {
	--background-colour: #000;

	--card-colour: #000;
	--card-border: #bbb;

	--text-colour: #fff;
	--link-colour: #ccc;
	--link-hover-opacity: 0.85;
}

body {
	font-family: 'EB Garamond', serif;
  font-weight: 500;

	padding: 1rem;
	margin: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: var(--background-colour);
	color: var(--text-colour);

	min-height: 100vh;
	min-height: 100dvh;

	overflow-x: hidden;

	transition: background-color 0.2s, color 0.1s;
}

main {
	position: relative;

	padding: 2rem 2rem;
	padding-bottom: 3rem;

	width: 25rem;
	min-height: 17rem;

	background-color: var(--card-colour);

	border: 2px solid var(--card-border);

	animation: fade-in 0.5s;
}

.subtext {
	opacity: 0.9;
}

.muted {
	opacity: 0.5;
}

.list ul {
	margin-top: 0;
	padding-left: calc(1em + 1px);
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
}

p {
	opacity: 0.9;
	margin: 0;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media only screen and (max-width: 600px), screen and (max-height: 700px) {
	main {
		width: calc(100vw - var(--mobile-main-padding));
		padding-bottom: calc(2rem + 2.3rem); /* -_- (icon size + normal padding) */
	}
}

.link {
	> a {
		color: var(--link-colour);
	}
	
	opacity: 1;
	
	&:hover {
		opacity: var(--link-hover-opacity);
		padding-left: 1px;
	}

	transition: opacity 0.05s, padding-left 0.1s;
}

.title {
	margin-bottom: 0.25rem;
}

@media only screen and (max-width: 600px), screen and (max-height: 700px) {
	.title {
		margin-bottom: 0.5rem;
	}

	.link {
		border: 2px solid var(--link-colour);

		&:not(:last-child) {
			margin-bottom: 0.7rem;
		}
		
		> a {
			display: block;

			width: 100%;
			height: 100%;

			padding: 1rem;

			text-decoration: none;
		}
	}
}
